.plese
{
    color:red;
    margin-left: auto;
    margin-right: auto;
}
.contentblock
{
    margin-left: auto;
    margin-right:auto;
    display: block;
    padding-top:45%;
}
.sadimage
{
    font-size:78px;
}